/* Vendor prefixed styles */

@-o-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes side-scroll {
  from {
    -o-transform: translateX(0%);
  }
  to {
    -o-transform: translateX(-100%);
  }
}

@-ms-keyframes side-scroll {
  from {
    -ms-transform: translateX(0%);
  }
  to {
    -ms-transform: translateX(-100%);
  }
}

@-moz-keyframes side-scroll {
  from {
    -moz-transform: translateX(0%);
  }
  to {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes side-scroll {
  from {
    -webkit-transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@-o-keyframes view-scroll {
  from {
    -o-transform: translateX(100vw);
  }
  to {
    -o-transform: translateX(-100%);
  }
}

@-ms-keyframes view-scroll {
  from {
    -ms-transform: translateX(100vw);
  }
  to {
    -ms-transform: translateX(-100%);
  }
}

@-moz-keyframes view-scroll {
  from {
    -moz-transform: translateX(100vw);
  }
  to {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes view-scroll {
  from {
    -webkit-transform: translateX(100vw);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@-o-keyframes slight-dangle {
  0% {
    -o-transform: translateY(0);
  }
  50% {
    -o-transform: translateY(-30%);
  }
  100% {
    -o-transform: translateY(0%);
  }
}

@-ms-keyframes slight-dangle {
  0% {
    -ms-transform: translateY(0);
  }
  50% {
    -ms-transform: translateY(-30%);
  }
  100% {
    -ms-transform: translateY(0%);
  }
}

@-moz-keyframes slight-dangle {
  0% {
    -moz-transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-30%);
  }
  100% {
    -moz-transform: translateY(0%);
  }
}

@-webkit-keyframes slight-dangle {
  0% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-30%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

@-o-keyframes person-scroll {
  from {
    right: -32px;
  }
  to {
    right: 100%;
  }
}

@-ms-keyframes person-scroll {
  from {
    right: -32px;
  }
  to {
    right: 100%;
  }
}

@-moz-keyframes person-scroll {
  from {
    right: -32px;
  }
  to {
    right: 100%;
  }
}

@-webkit-keyframes person-scroll {
  from {
    right: -32px;
  }
  to {
    right: 100%;
  }
}
